.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.canvasWraper{
  height: 60%;
  width: 80%;
}

.colorOptionWraper{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.colorOptionWraper span{
  font-size: medium;
  font-weight: 700;
  line-height: 30px;
  margin-right: 10px;
}

.box{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px; 
  cursor: pointer;
  box-shadow: 0 0 5px black
}

.active{
  border: 1px solid black;
}

.danger{
  background-color: #fc0362;
}

.success{
  background-color: green;
}

.buttons{
  display: flex;
  gap: 10px;
  padding: 10px;
}

.buttons button{
  padding: 5px 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: .2s;
}

button:hover{
  background-color: #fff;
}

.danger:hover{
  color: #fc0362;
  border: 1px solid #fc0362;
}

.success:hover{
  color: green;
  border: 1px solid green;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
